body {
    margin: 0;
    padding: 0;
}

.logo {
    padding: 5px;
    margin-left: 15px;
}

.hero {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: italic;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 0;
    padding-right: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.row { 
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
    padding: 20px; 
    background-color: #D00027; 
    border-radius: 4px; 
    margin: 20px;
}

.record {
    background-color:#D00027
}

footer {
	background-color: #333;
	padding: 1em;
	text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
}

footer > span {
	color: white;
}

footer > a {
	color: white;
	text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
}

footer > p {
    color: white
}

.text-uppercase {
    text-transform: uppercase;
}